{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4"> 
{% comment %} the number after 'p-' can modify the space around the title {% endcomment %}
    <div class="container">
        <h1 class="jumbotron-heading">Welcome :)</h1>
        <div>
            <h2 class="h2">
                {% if user.is_authenticated %}
                    Hello! {{ user.username }}
                {% else %}
                    Log in or register to see more.
                {% endif %}
            </h2>
            <strong>{{ boldmessage }}</strong>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        
        <div class="card-group">

                {% if movies %}
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    
                    {% for movie in movies %}
                    <div class="col-sm-3 py-2">
                    
                        <div class="card shadow-sm">
                            <img src="/static/poster/{{ movie.poster }}.png" class="img-fluid" alt="poster">
                            {% comment %} <svg class="bd-placeholder-img card-img-top" width="182" height="268" xmlns="static\movie\poster\1.jpg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"> {% endcomment %}
                                <title>{{ movie.title }}</title>
                                {% comment %} <rect width="100%" height="100%" fill="#55595c"/>
                                <text x="50%" y="50%" fill="#eceeef" dy=".3em"></text> {% endcomment %}
                            </svg>

                            <div class="card-body">
                                <p class="card-text">{{ movie.title }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ movie.likeMovie }}">Likes: {{ movie.movie_likes }}</a></button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'rango:show_movie' movie.slug %}">Views: {{ movie.views }}</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    {% endfor %}
                    
                {% else %}
                    <strong>There are no movies present.</strong>
                {% endif %}

        </div>

    </div>
</div>

{% endblock %}
