{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if movie %}
        {{ movie.name }}
    {% else %}
        Unknown Movie
    {% endif %}
{% endblock %}

{% block body_block %}
{% if movie %}
        <h1>{{ movie.title }}</h1>
        views: {{ movie.views }}
        <p>{{ movie.story }}</p>
        {% if user.is_authenticated %}
        {% endif %}
    {% else %}
        The specified movie is not available on MOVIE LAND.
    {% endif %}

    {% if comments %}
    <ul>
        {% for comment in comments %}
            <li>
                <h3>{{ comment.user }}</h3>
                <p>{{ comment.time }}</p></br>
                {{ comment.comments }}
            </li>
        {% endfor %}
    </ul>
    {% else %}
        Write the first comment now!
    {% endif %}

{% endblock %}