{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if movie %}
        {{ movie.name }}
    {% else %}
        Unknown Movie
    {% endif %}
{% endblock %}

{% block body_block %}
{% if movie %}
        <h1>{{ movie.title }}</h1>
            views: {{ movie.views }}
        <p>{{ movie.story }}</p>
        {% if user.is_authenticated %}
        {% endif %}
    {% else %}
        The specified movie is not available on MOVIE LAND.
    {% endif %}

<div>
    {% if user.is_authenticated %}
        <button id="like_btn"
            data-movieid="{{ movie.id }}"
            class="btn btn-success"
            type="button">
            <span data-feather="thumbs-up"></span>
                Like Movie
        </button>
        <button type="button" class="btn btn-warning"><a href="{% url 'rango:add_comment' movie.slug %}">Add a Comment</a></button>
    {% endif %}
    <div>
    {% if comments %}
        {% for comment in comments %}
            <li  class="commentStyle">
                <h4>{{ comment.user }}</h4> 
                <div class="commentStyleLine">
                    <p class="commentStyleContent">{{ comment.comments }}</p>
                    <p class="commentStyleTime">Comment time: {{ comment.time }}</p>
                </div>
            </li>
        {% endfor %}
    {% else %}
        Write the first comment now!
    {% endif %}
    </div>
</div>


{% endblock %}